# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.DS_Store
# VSCode
.vscode/
# macOS
.DS_Store
# Jupyter
.ipynb_checkpoints/
# mypy
.mypy_cache/
# pytest
.cache/
# coverage
htmlcov/
.coverage
# environments
.env
.venv
venv/
ENV/
env/
# frontend
node_modules/
# tokenizer cache
tokenizer_cache/

